In [24]:
import pandas as pd

raw = pd.read_excel('./raw.xlsx')
extract_data = raw[['꿈','이름','생일']]
extract_data.loc[:,'꿈'] = extract_data['꿈'].apply(lambda x:  x.split(","))

extract_data.head()

          꿈   이름                   생일
0     [간호사]  고해인  2021-05-14 00:00:00
1      [가수]  김민지  2021-09-11 00:00:00
2      [사서]  김민희  2021-04-19 00:00:00
3  [국가정보요원]  김수경  2021-04-22 00:00:00
4     [요리사]  김수진  2021-02-08 00:00:00

In [40]:
parse = {}
for i,dreams in enumerate(extract_data['꿈']):
  for j in dreams:
    key = j.strip()
    if j in parse:
      parse[key].append(extract_data['이름'][i])
    else:
      parse[key] = [extract_data['이름'][i]]



result = pd.DataFrame.from_dict(parse,orient='index')
result = result.transpose()
result.describe()
result.to_excel('./dream.xlsx')

In [46]:
import json

with open("dream.json", 'w', encoding='utf-8-sig')as f:
  json.dump(parse,f,ensure_ascii=False)